<div id="siteinfo">
	<small
		>convivial dot software by <a href="https://tiuraniemi.org" rel="cc:attributionURL"
			>Timo Tiuraniemi</a
		>
		is licensed under a
		<a rel="license" href="https://creativecommons.org/licenses/by-nc-sa/4.0/"
			>Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a
		>.</small
	>
</div>

<style>
	#siteinfo {
		line-height: 50%;
	}
</style>
