<script lang="ts">
	import Hero from '$lib/Hero.svelte';
	import Content from '$lib/Content.svelte';
	import { browser, dev } from '$app/environment';
	export const hydrate = dev;
	export const router = browser;
</script>

<svelte:head>
	<title>Convivial Software</title>
	<meta name="description" content="Convivial Software" />
</svelte:head>

<section>
	<Hero>
		<div class="front-content">
			<h1>Convivial Software</h1>
		</div>
	</Hero>
	<Content>
		<div class="front-content">
			<h3>Coming soon</h3>
		</div>
	</Content>
</section>
