:root {
	--font-base: Mulish, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
	--font-mono: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

	--color-text: #262626;
	--color-background: #ffffff;
	--color-link: #0600ed;
	--color-link-visited: #551a8b;
}
@media (prefers-color-scheme: dark) {
	:root {
		--color-text: #ffffff;
		--color-background: #282c35;
		--color-link: #58a6ff;
		--color-link-visited: #bb88e9;
	}
}

html {
	overflow-y: overlay;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	background: var(--color-background);
	color: var(--color-text);
	font-family: var(--font-base);
	font-size: calc(0.8rem + 0.8vw);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 95%;
}

/* Icrease header sizes across the board, defaults are:
   h1 is 2 em
   h2 is 1.5 em
   h3 is 1.3 em
   h4 is 1 em
   h5 is 0.8 em
   h6 is 0.7 em */
h1 {
	font-size: 2.5em;
	hyphens: auto;
}
h2 {
	padding-top: 1em;
	font-size: 2em;
}
h3 {
	padding-top: 0.5em;
	font-size: 1.5em;
}
h4 {
	font-size: 1.3em;
}
h5 {
	font-size: 1.1em;
}
h6 {
	font-size: 1em;
}
p.subtitle {
	margin-top: 0em;
	padding-top: 0em;
	font-size: 1.5em;
}

small {
	font-size: calc(0.5rem + 0.5vw);
}

blockquote {
	margin-inline-start: 0;
	margin-inline-end: 0;
}

hr {
	display: none;
}

/* Upper limit */
@media (min-width: 100rem) {
	body {
		font-size: 1.6rem;
	}
	small {
		font-size: 1rem;
	}
}

/* Lower limit */
@media (max-width: 400px) {
	body {
		font-size: 1rem;
	}
	small {
		font-size: 0.625rem;
	}
}

a {
	color: var(--color-link);
	text-decoration: underline;
}

a:visited {
	color: var(--color-link-visited);
}

a:hover {
	text-decoration: none;
}

img,
picture {
	max-width: 100%;
}

#svelte {
	/* Center the whole site the old-fashioned way */
	max-width: 130rem;
	margin: 0 auto;
	padding: 0 2rem;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: space-between;
}

.front-content {
	text-align: center;
}
